---
title: About Me
---
{% include header.html %}

<body class="wrap">
  {% include top.html %}

  <div class="main clearfix">
  <div class="clearfix sidebar">
<div class=subl>
<h3>Tags In Tech Blogs</h3> <hr />
   {% cat_tag %}
</div>
<div class=subl>
<h3>Archive for Tech Blog</h3> <hr />
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li> <a href="/archive/tech{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> </li>
{% endfor %}
</ul>
</div>
</div>
  
 <div class="content clearfix">
	  <div id="content">
		<h2> Hi There!</h2>
		<p>
		This is my website to discuss / blog what I would sum up as about "stuff". It has posts for technical information on the management of systems, to just random thoughts. To keep things tidy and sane all posts are split up into three categories, Networking and Security, Linux and Programming and Projects. This page addresses the three questions you would expect from an "about me" page, who I am, why is this here, and what I use to make and maintain this website.
		</p> <hr />
		<h2> Who? </h2>
		<p>
		So who am I? I'm a Technical Security Engineer for a computer security firm but am aspiring to move into Security Testing and finally in a good few years move into Information management at CISO level. I graduated from De Montfort University in 2013 with a 1st class honours in computer security and am continuing my studies with third party providers. Currently I am the holder of ISC CISSP, Crests CPSA, and am working toward a couple of other security  / networking certificates to expand my knowlage outside of what I touch on everyday. Currently reading into Ciscos CCNA (switches make the world go round), and Offensive secuitys OSCP. I wish to have the OSCP by around april 2015, and the CCNA whenever I get round to taking the exam! 
		</p> <hr />
		<h2> Why? </h2>
		<p>
		So why does this site exist? Well three main reasons;
		<ul>
		<li> First its to give back to the internet, well written technical resources make my job easier, blogs such as <a href="http://www.cyberciti.biz/">Nixcraft</a> <a href="http://www.howtoforge.com/"> How to Forge</a> and <a href="http://www.howtogeek.com/"> How to Geek </a> offer tips, tricks and common pitfalls on linux, networking and security. By not only offering the hows, but also the whys. If my site is able to help one techy that is scratching their head then the site is a success! </li>
		<li> Second to improve my writing skills. Although english is my first language I feel like my spelling, grammar and general descriptive skills could do with improving, and as they say the best way at getting better at something is by doing! So I do apologise in advance for any mistakes that are in my posts, if you find any drop me a line and let me know so I can fix it up!</li>
		<li> And finally to increase my own knowledge. By writing about specific technical fields any inadequacies will become apparent as I write the article, leading me to do more reading on the subject increase my knowledge</li>
		</ul> <hr> 
		<h2> What?</h2>
		<p>The three sections on the site are quite self explanatory, Networking and security will contain posts about computer networks, system security management and nibbits of stuff I find interesting and relevant. Linux and programming will mainly have useful things in bash such as shell scripts, and maybe the odd post on languages I am learning at the moment, and projects will be a mishmash of many many things!</p><hr />
		 <h2> How? </h2>
		<p> 
		So how is the site made and managed? The entire site is static, using the blogging engine <a href="http://jekyllrb.com"> Jekkyl </a> (with a few extensions), a set of templates, and a few shell scripts allowing me to do everything I want:- Have a simple "bloggy" website that supports tags as well as archives and wont fall over / get defaced due to bugs and exploits. More in-depth information on how the website will be made available <a href="/"> Here </a> and a raw unmade version of my website is <a href="https://github.com/leostat/Necurity.co.uk"> available from my GitHub</a> if your interested in seeing how jekkyl manages it. </p>
		<p>
		 During the websites creation I have tried to keep dynamic content to a minimum, allowing the website to be easily portable to anything with a webserver on. Post comments are provided by the folks over at <a href="http://disqus.com/"> Disqus </a> where all you need to comment is either, a Facebook profile, a Twitter account, or a Email Address, simples. I also use google analytics on the website, but as the only three pieces JavaScript (analyics, Night mode button, and disqus) are not vital the site works fine with you smart people that run script block. 
		</p>
		<p>
		Im sure it goes without saying that all opinions / views / ramblings expressed within this domain or any others owned or operated by myself are of my own personal opinion and should not be to taken as any form of professional advice or to be associated with anything / anyone, and if anyone believes that some content should be removed please contact me to disuss why.  
		</p>
	  </div>
  </div>

  </div>
  {% include footer.html %}

    </body>
</html>
