---
title: Contact Me
---
{% include header.html %}

<body class="wrap">
  {% include top.html %}

<div class="main clearfix">
	<div class="clearfix sidebar">
		<div class=subl>
<h3>Tags In Tech Blogs</h3> <hr />
   {% cat_tag %}
</div>
		<div class=subl>
<h3>Archive for Tech Blog</h3> <hr />
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li> <a href="/archive/tech{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> </li>
{% endfor %}
</ul>
</div>
		<div class=subl>
<h3>Tags in Personal Blogs</h3> <hr />
   {% pers_tag %}
</div>
		<div class=subl>
<h3>Archive for Personal</h3> <hr />
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li> <a href="/archive/pers{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> </li>
{% endfor %}
</ul>
</div>
</div>
  
	<div class="content clearfix">
	  <div id="content">
		  <p> If you want to contact me then please use the contact email address below :-</p>
		  {%highlight bash%}
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: SKS 1.1.0

mQGRBFIfvK0BDCC5rthM+shrVeCtZ7oB9T+itfGVj7E+9f1O1UXDugpsxQAgdtonBXbFBUWf
wJuenf3FM73h5xfin5SXw8rsgAmsgtgHNXRHrEwDvjFMQqghLoElVrbLnApxpbdGdavG8Aqr
6161px5Rw+vzL6nbHc0jb/vZVB13QsJCxbeqCNDsrBbJH1QwgSHY3roJCks1Ou6/hNhG0mn1
pF6E3XmWcGPyvamuxvqRcQZcgkG0dfKYxEq9ayydAXoR8TmICjPT+GhYJ8cD3Prox4WOdQSN
tHkAKHiFQGP6+LsE64zgzoGHWOlFJXX+hvmvGwnXoKujLEDxchHdefUE5tbXvIiKoZR3cmX4
qfH0SvRS56OT5Ib8L+b1j9YOmt3ZkiwZzBOHmjdsBD9l2rkVyAcq08JZb4ixgqRlCEpVwcNv
tq0WDTCpmLVSY2g0Co4TX0g6iAOrq5283vGTwQcVQjFHBhGUxzwOhYvw3PZC00b8xKytQDJW
sKVXWDb5CI5lOvJYlU5l5MDI/oSTABEBAAG0N0FsZXhhbmRlciBJbm5lcyAoRy5FKSA8YWxl
eC5pbm5lc0BkZWJvcmFoY2xlcmtpbi5jby51az6JAbwEEwECACIFAlIfvK0CGwMGCwkIBwMC
BhUIAgkKCwQWAgMBAh4BAheAAAoJEEP8mnkNYBtk2NIMH3pKFOXB/hulTwRbBDSVjY+C8ZcI
9BNciimKOaoTguVVHSoeRPs0K0Vooq8tXP6oem7A33T/BGrJ6EfKE29CoFdDIxKr66TDKswA
LbUzZ8EiI30tZ9alpp0x2g1yIKMF6/gjsci+FYltp/IG/nclRVSmIkaxOqdhbXcwV01Hpqto
EM2UEjB/QgPi26c2yUQx/3IkNXcKNaSZD83PXs5LWSYao3z15yRBaITfJ4rZ4UayqzTLMtss
VpaL7Z62YxZo2q6FcCNTsOG5TQ5Tvsj8xiTIKmS7nZCqw4ul8vkZnhnfy+ceg2oH7AG7+IJ3
LJ1bL8CdzqpSeJkEeYu1GVAo0pYxxKVxz+a1iFicAhUaqtUE2zYRG/yPALZ2U6043VORHRFp
fo48P+hGTXnti3Q5OlP84J5luVKdsu4UBGNmTmWIQvdx3lQZVNkPverrJ62f9deQGIdv+o7O
rokiqDMpwX0BkJRvcwC/MY3ieX9vzIM6elJES47aQK1EZ+68zRZj3mZkR1W0PkFsZXhhbmRl
ciBJbm5lcyAoQ29udGFjdCBFbWFpbCBhZGRyZXNzKSA8c2VubmlAbmVjdXJpdHkuY28udWs+
iQG8BBMBAgAiBQJSWm9KAhsDBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRBD/Jp5DWAb
ZB1sDB916b6XGJrdJ7ietfj78KPDBofg6GoqUFXYGBBfQPl/sjbC2gzKprbPKULM4DT4EOzC
ABeDHFMS2e7F8YVtIzJ6dDD+IbL5v7Bv/aE5yZr2ojNUHtgWgAHCeXnJ1tP9tdJKIyx3Mx/6
imYt6ONVQgVvSPKpWYl4mNZSQDLt1nis8EoU4xuzx7oYVqAsCJw+JRdAwjdytTHxwlKDCmxt
DVZQQ/9pXWHu6s4WXQPZzdQfun2FF7MjobMLJS5LHRUw23DLva0FckZ6tVmHLbZ2Ou7GMPyE
kKc8XQL+MOgxVv4zI/ZkkwfqFKUy7wl6oXyw/ECUut60kXNhm09myiFxzj+qacNEJNovdfyM
Ot5rrbb/cJ0Y1UVwxPrbThsuGi1IDFOa+07wuFJTTrIxIVmOCnCxPVLnFNg18kes6KHK5dXo
FCW1hkz0CwvtR9DXVTJUcAfbgmIgk9d2fGqQG2Jb2quzX4chEvROZvAHqjifb44+HAJsCSlL
q6p5k6A3JjsCJAHN14mkuQGRBFIfvK0BDCCnPi0cG9c4pepqKub4c0l0n+Mj3sYxSrHAbUpL
jkRuGqNWx+pkgjb0cH4oOl/wuNouRpkGMT0KS66sWaCKIDAzfQcr/SMUq2kagHAryrt52Hyj
VPW+8cfxO07XmMLPXUmieNV3hxIQjkiM8Ynvlv6redu+5A4eg4y+d9HkddmJU8kwWHboTsTc
5Y1PSPhS4yQ6EHMMfo4A96CdQ/LJMdaRTz5USsByT2yqYL/NJq7Xd61LUF5f2bwCupC6AvV0
avAiCLDDhWOCpVMdRNi8RM9Xx/4gIvCmJOxbH9e9Tv+SEqZNRFqVMogKBAZw+FBZc780IC22
GG63DXjBogxK1t1RIa9R3tsKGwPckRylyAAUVoasGIrIstGTifXYecgQvhwmyQfD9iADpqLU
zPhgns5VuHtfIDmMyUsEDO9FluJ4OmaEF+bX6ZfF4zW6jNdF5f73aD7pCCTDpZw74/lS9lYi
4TujfOhuaqNrl0gGevUBZ+iLWY7IjNDD2EV4QucQWv2YxEfPABEBAAGJAaMEGAECAAkFAlIf
vK0CGwwACgkQQ/yaeQ1gG2QdegwdGHHylnIiQ48FJzPT2xNmNxQR+No9uWK34bSOPVH3bl1o
EGFn8WkBbWLKYr7nzDhBGWBn3YH7u6BIsA0e1S/A3KtNYuNI369ZrNKzpo6cC6L/39TftPXu
c5Op6E43q3v+vUrRvLyEooM3EGXW34TPeKgxi/coWUjYTxyEy6fkI4110p1Lt/apMFkvk/RV
LIQ23+dAq+RaMEup2gn8PEZ4HH2WoVHcz8/g7wYQjVAmOhdjdULCEgxZJ5D28QRSgP7B013S
SDE9Urgl3oKTB9pBygpLhecSNJtU1B/aExZlZDjF1ojIEqO4xOnKI+aGaURYZQ0pKefMa0Wy
WVs+/8pIjqq3YLkGQuhIn6bAUifY2VxHJ56lS1p9NAb3U2rLfDJiq8EVLgAXgIbO0T1Eics9
hwWX9Opl5g41usuNiNqwVznm2M8mgytTx+ZMI34DEASmRhu17c47zh7sbq1SnBorAba/4aQA
kqGiModZhX9jy9Oc/YUzrmSHHW37K+f6yJmQvGWTyw==
=lQO6
-----END PGP PUBLIC KEY BLOCK-----
#       Key fingerprint = 1309 666F AF17 F382 B2AC  2209 43FC 9A79 0D60 1B64

		  {%endhighlight%}
	  <h3> Wait thats no email address?</h3>
	  <p> Correct, Its my GPG public key, within that block of text my email is held, now you have three options, </p>
	  <ol> <li> Import the Key </li> <li>Look for the fingerprint on a key server </li> <li> Give up as its too much effort</li> </ol>
	  
	  <h3> How do I import the key?</h3>
	  {%highlight bash%}
	  wget http://necurity.co.uk/gpg.key
	  gpg --import gpg.key; gpg --list-keys; 
	  {%endhighlight%}
	  <h3> How do I find it on a keyserver?</h4>
	  <p><a href="http://pgp.mit.edu:11371/pks/lookup?search=necurity&op=index&fingerprint=on"> Check Here </a>Look for necurity.co.uk, and match the fingerprint.</p>
	  <h3> Why so complicated?</h3>
	  <p> The only reason I'm doing it this way is to stop spammers! Sorry for any inconvenience caused!</p>
		</div>  
 </div>


</div>

{% include footer.html %}

    </body>
</html>
