---
title: Privacy Policy
---
{% include header.html %}

<body class="wrap">
  {% include top.html %}

<div class="main clearfix">
	<div class="clearfix sidebar">
		<div class=subl>
<h3>Tags In Tech Blogs</h3> <hr />
   {% cat_tag %}
</div>
		<div class=subl>
<h3>Archive for Tech Blog</h3> <hr />
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li> <a href="/archive/tech{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> </li>
{% endfor %}
</ul>
</div>
</div>
  
	<div class="content clearfix">
	  <div id="content">
	  
	  <h1> Privacy Policy </h1>
	  <p> By using this website you are agreeing to the following privacy policy and consent for data sent by you / your browser to be used and analysed. This includes but is not limited to</p>
	  <ol> <li> IP Address / Browser Details </li> <li> Usage statistics with the aid of cookies </li> <li> Email Address if you contact me </li> </ol>
	
	  <p> This data is collected to aid in the development and improvement of the website as well as to facilitate the display of more relevant advertisements. Non of the data collected is intended to be used for personally identifying any user, however this may become possible by leaving comments / contacting myself / extended use of the website. Data is stored on this server, Googles servers, and Disqus's servers. Data provided such as email addresses will never be shared with third party's, and if you believe it has please contact me immediately, the only exemptions of this is either, when legally required to - or when you are in breach of this servers terms and conditions. If you would like information on what exactly I "know" about you drop me a email and I shall try to be as helpful as possible. </p>
	  <p> Note - By using the comments feature you are agreeing to a third parties terms of use and privacy policy which I do not have any control over</p>
	  
	  </div>
 </div>


</div>

{% include footer.html %}

    </body>
</html>

