<div class=subl>

{% assign location=0 %}

{% if page.url contains "tech" or page.url contains "netsec"or page.url contains "linux"  %}
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li>
<a href="/archive/tech{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> ({{ monthly_archive.posts | size }} posts)
</li>
{% endfor %}
</ul>
   {% assign location=1 %}
{% endif %}

{% if page.url contains "pers" %}
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li>
<a href="/archive/pers{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> ({{ monthly_archive.posts | size }} posts)
</li>
{% endfor %}
</ul>
   {% assign location=1 %}
{% endif %}

{% if location == 0 %}
     <p> Oops, im lost! </p>
     <p>Unable to display tag data =( </p>
     <p>Please let me know the url so I can fix this!</p>
{% endif %}

</div>
