        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> </p>
            <p> This Website has Dropped(!) support for ageing browsers, sorry about that. But you should really update!</p>
        <![endif]-->

<!-- Nav Bar Start -->
<!-- Pure CSS FTW-->
<div id="navbar">
<nav id="navbar-inner">
	<a href="#navbar-inner" class="tmphide" title="Show navigation">Show navigation</a>
	<a href="#" class="tmphide" title="Hide navigation">Hide navigation</a>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about.html">About Me</a></li>
		<li><a href="/netsec/index.html"> Technical Blogs </a>
			<ul>
				<li><a href="/netsec/index.html">Networking and Security</a></li>
				<li><a href="/linux/index.html">OS / Programming</a></li>
				<li><a href="/archive/tech/2013/index.html">Tech Archive</a></li>
			</ul>
		</li>
		<li><a href="/contact.html">Contact Me</a></li>
                <li><a href="/p/">Projects </a>
			<ul>
				<li><a href="/p/analogi">Analogi</a></li> 
				<li><a href="/p/oscar"> OSCAR</a></li>
				<li><a href="/p/scripting">Random Scripting</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>

<!-- Nav Bar End -->

