{% include header.html %}

<body class="wrap">

  {% include top.html %}
  <div class="main clearfix">
		<div class="clearfix sidebar">
			<div class=subl>
				<h3>Popular Tags</h3> <hr />
				{% cat_tag %}
			</div>
			<div class=subl>
				<ul>
				{% for monthly_archive in site.monthly_archives reversed %}
					<li>
						<a href="/archive/tech{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> ({{ monthly_archive.posts | size }} posts)
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
  <div class="content clearfix">
	  <div id="content">
<h1>{{ page.month | to_month }} {{ page.year }}</h1>
<ul>
  {% for d in (1..31) reversed %}
    {% if site.collated_posts[page.year][page.month][d] %}
      {% for p in site.collated_posts[page.year][page.month][d] reversed %}
  {% if p.category == "netsec" or p.category == "linux" %}
  {% unless post.draft %}

        <li><a href='{{ p.url }}'>{{ p.title }}</a></li>
  {% endunless %}
  {% endif %}

      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>  </div>  </div>
  {% include sider.html %}
  </div>
  {% include footer.html %}

    </body>
</html>

XOSXOSXOS

{% include header.html %}

<body class="wrap">

  {% include top.html %}
  <div class="main clearfix">
		<div class="clearfix sidebar">

<div class=subl>
<h3>Popular Tags</h3> <hr />
   {% pers_tag %}
</div> 
<div class=subl>
<ul>
{% for monthly_archive in site.monthly_archives reversed %}
<li>
<a href="/archive/pers{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> ({{ monthly_archive.posts | size }} posts)
</li>
{% endfor %}
</ul>
</div>
</div>

  <div class="content clearfix">
	  <div id="content">
<h1>{{ page.month | to_month }} {{ page.year }}</h1>
<ul>
  {% for d in (1..31) reversed %}
    {% if site.collated_posts[page.year][page.month][d] %}
      {% for p in site.collated_posts[page.year][page.month][d] reversed %}
    {% if p.category == "personal" %}
  {% unless post.draft %}
        <li><a href='{{ p.url }}'>{{ p.title }}</a></li>
  {% endunless  %}
	{% endif %}
      {% endfor %}
    {% endif %} 
  {% endfor %}
</ul>  </div>   </div>
  {% include sider.html %}
  </div>
  {% include footer.html %}

    </body>
</html>
