{% include header.html %}

<body class="wrap">
	{% include top.html %}
	<div class="main clearfix">
		<div class="clearfix sidebar">
			<div class=subl>
				<h3>Popular Tags</h3> <hr />
				{% cat_tag %}
			</div>
			<div class=subl>
				<ul>
				{% for monthly_archive in site.monthly_archives reversed %}
					<li>
						<a href="/archive/tech{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> ({{ monthly_archive.posts | size }} posts)
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="content clearfix">
			<div id="content">
			 {% for y in (2014..2015) reversed %}
				<h1>{{ y }}</h1>
				{% for m in (1..12) reversed %}
					{% if site.collated_posts[y][m] %}
						<h3>{{ m | to_month }}</h3>
						<ul>
							{% for d in (1..31) reversed %}
								{% if site.collated_posts[y][m][d] %}
									{% for p in site.collated_posts[y][m][d] reversed %}
										{% if p.category == "netsec" or p.category == "linux" %}
											{% unless post.draft %}				
												<li><a href='{{ p.url }}'>{{ p.title }}</a></li>
											 {% endunless %}
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</div>
		</div>
	{% include sider.html %}
  </div>
  {% include footer.html %}

</body>
</html>

